name: Build Docker Image

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          python manage.py test

      - name: Build Docker image
        run: |
          docker build -t student-app:${{ github.sha }} .

      - name: Test Docker image
        run: |
          docker run -d --name test-container -p 8000:8000 student-app:${{ github.sha }}
          sleep 10
          docker ps
          docker stop test-container
          docker rm test-container
