name: Build and Test

on:
    push:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Install Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"

            - name: Install requirements
              run: pip install -r requirements.txt

            - name: Run Tests
              run: pytest

            - name: Build Docker Image
              run: docker build -t django-students .
